.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover !important;
}

.product-card {
  margin: 15px !important;
  @include box-shadow;
}

.card-body {
  a {
    text-decoration: none;
    color: $copy-primary;
  }
}

.item-in-cart {
  max-width: 275px;
  display: flex;
  flex-direction: column;
}

.btn-clear-localstorage {
  margin-bottom: 50px;
}
