$green-primary: #86c232;
$primary: $green-primary;
$copy-primary: #474b4f;
$copy-secondary: #e8e8e8;
$heading-primary: #222629;

$border-radius: 0.25rem;

$headings-font-family: "poppins", sans-serif;

$btn-color: $green-primary;
